<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Inicio</title>
</head>
<body>

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active"  >Gestion de préstamos<span class="visually-hidden"></span></a>
            <a class="nav-item nav-link" href=" {{url_for("indexAdmin")}}">Usuarios</a>
        </div>
    </nav>
    

    <div class="container">